.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.listItem {
	position: relative;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 12px;
	isolation: isolate;
}

.listItem img {
	border-radius: 4px;
}

.itemDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4px;
}

.collectionName {
	font-size: 0.8rem;
	font-weight: 400;
	color: #989898;
}

.priceWrapper {
	display: flex;
	gap: 6px;
	margin-left: auto;
}

.detailsHeader {
	font-size: 0.875rem;
	font-weight: 500;
	margin: -6px 0 -12px;
}

.detailName {
	font-weight: 400;
	color: #989898;
}

.checkoutButton {
	padding: 6px;
	border-radius: 4px;
	margin-top: 20px;
	background: #fff;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 30%));
}

.checkoutButton:hover {
	background: rgb(244, 244, 244);
}

.checkoutButton:active {
	transform: translateY(1px);
}

.checkoutButton[data-not-allowed] {
	color: #ef4444;
}

.emptyMsg {
	text-align: center;
	margin: 32px 0 36px;
	padding: 24px;
}

.removeButton {
	background: #fff;
	border-radius: 12px;
	padding: 4px;
	position: absolute;
	top: -8px;
	left: -6px;
	z-index: 1;
	transition: 0.125s ease;
}

.removeButton svg {
	width: 10px;
	height: 10px;
}

.removeButton:active {
	transform: scale(0.95);
}

.errorMsg {
	font-size: 0.875rem;
	text-align: center;
	margin-top: 20px;
	color: #ff9393;
}

.emailField {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 0.875rem;
}

.optional {
	font-size: 0.75rem;
}

.emailField input {
	background: #fff;
	color: #000;
	border: none;
	border-radius: 4px;
	padding: 3px 6px;
	font-size: 1.25rem;
}

.liquidityMsg {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1ch;
	font-size: 0.75rem;
	font-weight: 500;
	margin-top: auto;
	padding: 40px 0 0;
	text-align: center;
}

.liquidityMsg svg {
	flex-shrink: 0;
}

@media (min-width: 80rem) {
	.emptyMsg {
		margin-top: 60%;
	}
}
