.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.listItem {
	position: relative;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 12px;
	isolation: isolate;
}

.listItem img {
	border-radius: 4px;
}

.itemDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4px;
}

.collectionName {
	font-size: 0.8rem;
	font-weight: 300;
}

.priceWrapper {
	display: flex;
	gap: 6px;
	margin-left: auto;
}

.checkoutButton {
	padding: 6px;
	border-radius: 4px;
	margin-top: 20px;
	background: #fff;
}

.checkoutButton[data-not-allowed] {
	color: #ef4444;
}

.emptyMsg {
	text-align: center;
	margin: 32px 0 36px;
	padding: 24px;
}

.removeButton {
	background: #fff;
	border-radius: 12px;
	padding: 4px;
	position: absolute;
	top: -8px;
	left: -6px;
	z-index: 1;
	transition: 0.125s ease;
}

.removeButton svg {
	width: 10px;
	height: 10px;
}

.removeButton:active {
	transform: scale(0.95);
}

.errorMsg {
	font-size: 0.85rem;
	text-align: center;
	margin-top: 20px;
	color: #ff9393;
}
