.card {
	display: flex;
	flex-direction: column;
	min-width: 240px;
	max-width: 320px;
	background-color: #333;
	backdrop-filter: blur(10px);
	border-radius: 12px;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 15%));
}

.imageWrapper {
	position: relative;
	border-radius: 12px 12px 0 0;
	aspect-ratio: 1 / 1;
}

.imageWrapper img {
	border-radius: 12px 12px 0 0;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 8px;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 0 0 12px 12px;
}

.flexRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 8px;
}

.flexRowSm {
	display: flex;
	align-items: center;
	gap: 6px;
}

.actionButton {
	padding: 4px 8px;
	color: #fff;
	background: #333;
	border: 1px solid #f788bf;
	border-radius: 12px;
	width: fit-content;
	white-space: nowrap;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 30%));
}

.actionButton:active,
.savedButton:active {
	transform: translateY(1px);
}

.actionButton:hover,
.actionButton:focus-visible {
	cursor: pointer;
	background: hsl(329deg 94% 86%);
	color: #000;
	outline: none;
}

.actionButton:disabled {
	cursor: not-allowed;
	color: rgba(255, 255, 255, 70%);
}

.actionButton:disabled:hover {
	background: initial;
	color: rgba(255, 255, 255, 70%);
}

.quoteSection {
	display: flex;
	flex-direction: column;
}

.icon {
	height: 16px;
	width: 16px;
}

.dullText {
	color: #c6c6c6;
}

.price[data-animate='true'] {
	background-color: #444;
	width: 8ch;
	height: 16px;
	animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
	background: linear-gradient(to right, #3a3a3a 5%, #4a4a4a 20%, #3a3a3a 40%);
	background-size: 1000px 100%;
}

.savedButton {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 8px;
	color: #fff;
	background: #333;
	border: 1px solid #89cfdd;
	border-radius: 12px;
	width: fit-content;
	white-space: nowrap;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 30%));
}

.checkMark {
	height: 16px;
	width: 16px;
}

.savedButton:hover,
.savedButton:focus-visible {
	cursor: pointer;
	background: #d9fffe;
	color: #000;
	outline: none;
}
