.wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	max-width: 360px;
	margin: 36px 0;
	padding: 20px 16px;
	border-radius: 12px;
	background: #000;
	overflow: auto;
}

.wrapper hr {
	border: 1px solid rgba(255, 255, 255, 0.08);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.title {
	margin: 0px;
	font-size: 1.5rem;
	font-weight: 500;
}
