.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	flex-wrap: wrap;
	padding: 12px;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
}

.nav {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 1rem;
	font-weight: 600;
	background: #fff;
	color: #000;
	margin-right: auto;
	padding: 4px;
	border-radius: 12px;
}

.nav a {
	padding: 2px 8px;
	border: 2px solid transparent;
}

.nav a[data-active='true'] {
	background: #d9fffe;
	border-color: #89cfdd;
	border-radius: 12px;
}

.logoWrapper {
	min-width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	position: relative;
}

.walletsWrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
}

.cartButton {
	position: relative;
	padding: 8px;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	background: #fff;
	color: #000;
	transition: 0.125s ease;
}

.cartButton:hover {
	transform: scale(1.025);
}

.cartButton:active {
	transform: scale(0.95);
}

.cartButton svg {
	height: 24px;
	width: 24px;
	position: relative;
	top: 2px;
}

.noOfItems {
	position: absolute;
	top: -6px;
	right: -6px;
	font-size: 11px;
	background: #fff;
	color: #000;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid hotpink;
}

.main {
	flex: 1;
	min-height: 100%;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 12px;
}
