.header {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-wrap: wrap;
	padding: 12px;
	width: 100%;
	max-width: 96rem;
	margin: 0 auto;
}

.nav {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 1rem;
	font-weight: 600;
	background: #fff;
	color: #000;
	margin-right: auto;
	padding: 4px;
	border-radius: 12px;
	width: 100%;
}

.nav a {
	padding: 2px 8px;
	flex: 1;
	text-align: center;
	border: 2px solid transparent;
	border-radius: 12px;
}

.nav a[data-active='true'] {
	background: #d9fffe;
	border-color: #89cfdd;
}

.logoWrapper {
	min-width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	position: relative;
}

.walletsWrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
}

.walletsWrapper > *:first-child {
	margin-right: auto;
}

.main {
	flex: 1;
	min-height: 100%;
	width: 100%;
	max-width: 96rem;
	margin: 0 auto;
	padding: 12px;
}

@media (min-width: 40rem) {
	.header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.nav {
		width: revert;
	}
}

@media (min-width: 40rem) {
	.main {
		display: flex;
		gap: 20px;
	}

	.main > *:first-child {
		flex: 1;
	}
}
