.wrapper {
	display: flex;
	flex-direction: column;
	width: fit-content;
	max-width: 34rem;
	margin: 20px auto;
	padding: 12px 12px 18px;
	backdrop-filter: blur(5px);
}

.header {
	font-family: 'Coiny', 'Coiny-fallback';
	font-size: 2.5rem;
	line-height: 1.5em;
	text-align: center;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 1.125rem;
	font-weight: 500;
	margin-top: 12px;
	padding-left: 12px;
	list-style-type: '✦';
}

.listItem {
	padding-inline-start: 12px;
}

.listItem::marker {
	color: #89cfdd;
}

.connectWalletText {
	margin: 24px 0;
	text-align: center;
	font-size: 0.875rem;
}

.connectWalletText button {
	text-decoration: underline;
}
