.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 240px);
	place-content: center;
	gap: 32px;
	margin: 36px 0 auto;
}

@media (min-width: 80rem) {
	.wrapper {
		grid-template-columns: repeat(auto-fit, 260px);
		place-content: initial;
		margin: 36px 0;
	}
}
