.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 260px));
	place-content: center;
	gap: 32px;
	margin: 36px 0 auto;
}

@media (min-width: 80rem) {
	.wrapper {
		margin: 36px 0;
		place-content: initial;
	}
}
