.wrapper {
	display: grid;
	grid-auto-columns: minmax(240px, 320px);
	place-content: center;
	gap: 32px;
	margin: 36px 0;
}

@media (min-width: 40rem) {
	.wrapper {
		grid-template-columns: repeat(2, minmax(240px, 320px));
	}
}

@media (min-width: 50rem) {
	.wrapper {
		grid-template-columns: repeat(3, minmax(240px, 320px));
	}
}

@media (min-width: 67.5rem) {
	.wrapper {
		grid-template-columns: repeat(4, minmax(240px, 320px));
	}
}
