@font-face {
	font-family: Quicksand;
	font-display: swap;
	src: url('/Quicksand.ttf') format('truetype');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	padding: 0;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

#__next {
	isolation: isolate;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: #fff;
	background: #222;
	/* background-image: url('/bgSmall.png'); */
	background-position: 50%;
	background-position-y: -80px;
	background-repeat: no-repeat;
	background-size: contain;
}

#__next > * {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.fallback-text {
	max-width: min(640px, 80vw);
	padding: 24px 8px;
	margin: 20vh auto auto;
	background: #000;
	text-align: center;
	border-radius: 12px;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 30%));
}

.fallback-text button {
	text-decoration: underline;
	padding: 0;
	color: inherit;
}

[data-backdrop] {
	background-color: rgba(0, 0, 0, 0.4);
}

.placeholder-container {
	background-color: #444;
	animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
	background: linear-gradient(to right, #3a3a3a 5%, #4a4a4a 20%, #3a3a3a 40%);
	background-size: 1000px 100%;
	border-radius: 4px;
}

.buttonDismiss {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28px;
	width: 28px;
	background-color: rgba(255, 255, 255, 0.08);
	color: #c9c9ca;
	border: 1px solid rgba(255, 255, 255, 0.04);
	border-radius: 9999px;
	transition: 0.125s ease;
}

.buttonDismiss:hover {
	transform: scale(1.1);
}

.buttonDismiss:active {
	transform: scale(0.9);
}

.toastWithLink {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 0.875rem;
	font-weight: 500;
	min-width: 160px;
}

.toastWithLink a {
	text-decoration: underline;
	font-size: 0.75rem;
	font-weight: 400;
	cursor: pointer;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}

@media (min-width: 40rem) {
	#__next {
		/* background-image: url('/bgLarge.png'); */
	}
}
